@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  background-color: #f6ebf4;
  color: #482673;
  font-family: 'Ubuntu', sans-serif;
}

.main-cont {
  width: 80%;
  margin: 5vw auto;
}

.font-size {
  font-size: 1.5vw;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 6vw;
  font-weight: bold;
  margin-bottom: 5vw;
}

.sect-cont {
  display: flex;
  gap: 20%;
}

.score-cont {
  width: 50%;
}

.refresh-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 3.5vw;
  font-weight: bold;
  padding-bottom: 0.7rem;
}

.btn {
  border: none;
  padding: 0.2rem 0.8rem;
  box-sizing: border-box;
  background-color: #482673;
  color: #fff;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

ul {
  border: 5px solid #fff;
  border-radius: 10px;
  margin-top: 2vw;
}

li {
  padding: 0.5rem 0.7rem;
  font-weight: bold;
  background-color: #fff;
}

ul li:nth-child(even) {
  background-color: #f6ebf4;
}

.form-title {
  text-align: center;
}

form {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  gap: 2.3vw;
}

.input-data {
  border: 3px solid #fff;
  outline: none;
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  box-sizing: border-box;
  color: #482673;
}

.input-data::placeholder {
  color: #482673;
  opacity: 0.5;
}

.sub-btn {
  align-self: flex-end;
  margin-bottom: 1rem;
}
