.main-cont {
  width: 80%;
  margin: 5rem auto 0 auto;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

.sect-cont {
  display: flex;
  gap: 20%;
}

.score-cont {
  width: 50%;
}

.refresh-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4px;
}

h2 {
  font-size: 3.5rem;
  font-weight: bold;
  padding-bottom: 0.7rem;
}

.btn {
  box-shadow: 4px 5px #000;
  border: 2px solid #000;
  font-size: 1.5rem;
  padding: 0.2rem 0.8rem;
  box-sizing: border-box;
}

.btn:hover {
  cursor: pointer;
}

ul {
  border: 3px solid #000;
  border-radius: 3px;
  margin-top: 2rem;
}

ul li:nth-child(even) {
  background-color: #b8b8b8;
}

li {
  padding: 0.5rem 0.7rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.form-title {
  text-align: center;
}

form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.input-data {
  border: 3px solid #000;
  outline: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.5rem;
  border-radius: 3px;
  box-sizing: border-box;
}

.sub-btn {
  align-self: flex-end;
  margin-right: 4px;
}



